.header-container {
  width: 80%;

  margin: 10vh auto;
  /* margin-top: 10vh; */
}
.flex-dir {
  flex-direction: row;
}

.section {
  width: 40vw;
  min-height: 30vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 10px;

  text-align: center;

  overflow-x: auto;
}

.section table {
  border-collapse: collapse;
}

.section table thead {
  color: #fff;
  background-color: #244082;

  padding: 5px;
}
.section table tbody tr {
  background-color: #fff;
}

.section table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.section table thead th {
  padding: 7.5px;
}

.section table button {
  padding: 5px;
  margin: 2.5px 0px;

  width: 75px;

  border: none;
  border-radius: 2px;
}

.section table .update_button {
  color: #fff;
  background-color: #ff964f;

  cursor: pointer;
}

.section table .delete_button {
  color: #fff;
  background-color: #f44336;

  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .section {
    width: 45vw;
  }
}

@media only screen and (max-width: 1100px) {
  .flex-dir {
    flex-direction: column;
  }
  .section {
    width: 70vw;
  }
}

@media only screen and (max-width: 800px) {
  .section {
    width: 90vw;
  }
}
