.container {
  width: 100vw;
  height: 100vh;

  background-color: var(--color-secondary);
}

.paper {
  width: 70%;
  height: 70%;

  flex-direction: column;

  border: solid 2px transparent;
  border-radius: 10px;

  background-color: color-mix(in srgb, var(--color-white) 40%, transparent);
  backdrop-filter: blur(100px);

  padding: none;
}

.form-header {
  height: 20%;
  flex-direction: column;

  margin: 15px 0px 10px 20px;
}
.form-header h1 {
  font-size: clamp(2rem, 4vw, 2.6rem) !important;
}
.form-header p {
  color: color-mix(in srgb, var(--primary-text-color) 80%, white 20%);
  font-size: clamp(1.2rem, 1.6rem) !important;
  /* font-size: 1.2rem; */
}
.paper hr {
  color: #00000080;
}

.form-container {
  width: 100%;
  height: 80%;

  flex-direction: column;
}

.form-container .form {
  width: 70%;
  /* height: 100%; */

  flex-direction: column;
}

.form-container .form * {
  width: 70%;
}

.form-container .form label {
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}
.form-container .form input {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;

  padding: 2.5px 5px;

  border: none;
  border-radius: 5px;
}

.form-container .form input[type="submit"] {
  background-color: var(--color-white);

  transition: all 0.1s ease-in-out;
}
.form-container .form input[type="submit"]:hover {
  cursor: pointer;

  color: var(--color-white);
  background-color: var(--color-primary);
}
.form-container .form input[type="submit"]:focus {
  scale: 0.98;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-container p {
  margin-right: 20%;
  align-self: flex-end;
  font-size: 1.2rem !important;
}
.form-container a {
  margin-left: 5px;
  transition: all 0.1s ease-in;
}
.form-container a:hover {
  color: var(--color-primary);
}

@media only screen and (max-width: 400px) {
  .form-container p {
    margin-right: 0;
    align-self: center;
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 650px) {
  .form-container .form * {
    width: 300px;
  }
}
@media only screen and (min-width: 750px) {
  .paper {
    width: 60%;
  }
}
@media only screen and (min-width: 1050px) {
  .paper {
    width: 50%;
  }
}

@media only screen and (min-height: 550px) {
  .paper {
    height: 65%;
  }
  .form-container {
    height: 60%;
  }
  .form-container .form * {
    width: 90%;
  }
}

@media only screen and (min-height: 666px) {
  .container {
    align-items: flex-start !important;
  }
  .paper {
    margin-top: 10vh;
    height: 50%;
  }
  .form-container {
    height: 60%;
  }
}

@media only screen and (min-height: 800px) {
  .paper {
    height: 45%;
  }
}
