/* === General === */
:root {
  --primary-text-color: #000000;
  --secondary-text-color: #dddfff;

  --color-white: #fff8de;
  --color-primary: #8ca9ff;
  --color-secondary: #aac4f5;
  --color-accent: #fff2c6;

  --secondary-font-family: "Courier New", Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* === Text === */
h1 {
  font-family: var(--secondary-font-family);
  font-size: clamp(2.6rem, 5vw, 3rem);
}

p {
  font-size: clamp(1.4rem, 5vw, 1.6rem);
}

/* === Links & Images === */
a {
  text-decoration: none;
  color: var(--primary-text-color);
}

a:hover {
  color: var(--secondary-text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* === Utils === */
.flex {
  display: flex;
  gap: 10px;
}

.center {
  align-items: center;
  justify-content: center;
}
.center-v {
  align-items: center;
}
.center-h {
  justify-content: center;
}

.hidden {
  display: none;
}
