.container {
  width: 100vw;
  height: 100vh;

  /* background-color: var(--color-secondary); */
}

.paper {
  /* width: 100%; */
  margin-top: 5vh;
  flex-direction: column;

  border: 1px solid #244082;
  border-radius: 10px;

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  /* background-color: rgba(255, 255, 255, 0.25); */
  background-color: color-mix(in srgb, var(--color-primary) 35%, transparent);

  /* background-color: color-mix(in srgb, #244082 35%, transparent); */

  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);

  padding: none;
}
.form-header {
  height: 20%;
  flex-direction: column;

  /* margin: 15px 0px 10px 20px; */
  padding: 30px 20px;
}
.form-header h1 {
  font-size: clamp(2rem, 4vw, 2.6rem) !important;
}

.form-container {
  width: 100%;
  height: 60vh;

  flex-direction: column;
}

.form-container .form {
  width: 70%;
  /* height: 100%; */

  flex-direction: column;
}

.form-container .form * {
  width: 70%;
}

.form-container .form label {
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}
.form-container .form input {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;

  padding: 2.5px 5px;

  background-color: color-mix(in srgb, var(--color-white) 60%, transparent 40%);
  /* background-color: grey; */

  border: none;
  border-radius: 5px;
}
textarea {
  resize: none;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;

  padding: 2.5px 5px;

  background-color: color-mix(in srgb, var(--color-white) 60%, transparent 40%);

  border: none;
  border-radius: 10px;
}
.form-container .form input:focus {
  outline-color: none;
  outline-style: none;
  /* outline-color: color-mix(in srgb, var(--color-primary) 60%, transparent 40%); */
}
textarea:focus {
  outline-color: none;
  outline-style: none;
  /* outline-color: color-mix(in srgb, var(--color-primary) 60%, transparent 40%); */
}

.form-container .form input[type="submit"] {
  background-color: var(--color-white);

  transition: all 0.1s ease-in-out;
}
.form-container .form input[type="submit"]:hover {
  cursor: pointer;

  color: var(--color-white);
  background-color: #244082;
  /* background-color: var(--color-primary); */
}
.form-container .form input[type="submit"]:focus {
  scale: 0.98;
}

.show_posts {
  width: 49%;
  text-align: center;
  align-content: center;

  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 7.5px 5px;
  margin-top: 5px;
  margin-bottom: 10px;

  border-radius: 5px;
  background-color: var(--color-primary);

  transition: all 0.2s ease;
}
.show_posts:hover {
  color: #244082;
  background-color: var(--color-white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-radio {
  display: flex;
  flex-direction: column;
  /* width: 30% !important; */
  gap: 10px;
  /* width: 200px !important; */
  /* display: flex; */
  /* width: 20% !important; */
}
.form-radio .option {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input[type="radio"] {
  appearance: none;
  background: white;

  width: 20px !important;
  height: 20px;

  cursor: pointer;
}

input[type="radio"]:checked {
  background: var(--color-primary); /* Fills the square when checked */
}

@media only screen and (max-width: 1000px) {
  .paper {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .form-container .form * {
    width: 80%;
  }
  .show_posts {
    width: 56%;
  }
}

@media only screen and (max-width: 600px) {
  .form-container .form * {
    width: 100%;
  }
  .show_posts {
    width: 70%;
  }
}

@media only screen and (max-width: 400px) {
  .form-container .form {
    width: 80%;
  }
  .show_posts {
    width: 80%;
  }
}

.paper-post {
  width: 60%;
}

.post_button {
  position: relative;
}
